.form {
	margin: auto;
}


#getItem {
	margin-top: 24px;
}

.feedback {
	color: red;
}

.input-group-text {
	width: 120px;
}

img {
	width: 300px;
	height: 300px;
}

.item-check {
	margin-left: 20px;
}

div#notification {
    border-top: 1px solid #9fc8f3;
    height: 50px;
    padding: 12px;
    bottom: 0;
    position: fixed;
    left: 0;
}