
html, body {
    font-size: 12px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
html, body, #header .title, #box-container textarea {
	font-family: "Segoe WP Light", "Segoe UI", "Arial", sans-serif;
}
strong {
	font-weight: bold !important;
}

/* Header */
#position{ 
	position:absolute; 
	top:0; 
	left:0;
	width: 250px;
	height: 60px;
	background: black;
}

#logo{
	width: 40%;
	position: absolute;
    margin: auto;
    top: 8px;
    left: 0;
    right: 0;
    bottom: 0;
}
option { 
    /* Whatever color  you want */
    background-color: gray;
}
#container {
    display: flex;
    flex-direction: column;
	height: 100%;
}
#header {
	flex: 0 0 auto;
	position: fixed;

    /*background: #2a8dd4;*/
    background: #E80215;

    /*background: #858585;*/
	font-size: 0;
	border-bottom: 1px solid #555;
    text-align: center;
    height: 60px;
    min-height: 60px;
    line-height: 60px;
    width: 100%;
}
#header.local {
	/*background: #00c4ff;*/
	background: rgb(232, 2, 21);
}
#header .title, #header > a, #header > select {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
	text-decoration: none;
    margin: 0;
}
#header .title.left {
	position: absolute;
	left: 260px;
	font-size: 1vw;
}
#header > a {
  	position: relative;
  	height: 65px;
  	width: 210px;
  	padding: 8px;
  	font-size: 17px;
  	font-weight: 500;
  	letter-spacing: 1px;
  	border-radius: 5px;
  	text-transform: uppercase;
  	border: 1px solid transparent;
  	outline: none;
  	cursor: pointer;
  	background: #E80215;
  	overflow: hidden;
  	transition: 0.6s;
}
#header > select {
	display: inline-block;
	position: relative;
	font-size: 17px;
	font-weight: 500!important;
	letter-spacing: 1px;
	border-radius: 5px;
  	text-transform: uppercase;
	height:55px;
	background: #E80215;
    border-top: 0px;
    border-bottom: 0px;
    margin-top: 0px;
	cursor: pointer;
	user-select: none;		
}
#header > a:hover, #header > a.selected {
	color: white;
	background-color: #142b50;
}
#header > a.done {
	background: #79cc83;
}

/* Main, home */
#main, #home {
    display: flex;
	height: 100%;
}
#main {
	flex-direction: row;
	height: calc(100% - 41px);
}
#main.notification {
	height: calc(100% - 121px);
}
#notification {
	font-size: 18px;
}
#home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
	margin: 120px 0;
}
#home .page-line:not(:last-child) {
	margin-bottom: 20px;
}
#home .page-line.input {
	margin-bottom: 40px;
}
#home .page-line input {
	font-size: 26px;
	background-color: #fbfbfb;
	text-align: center;
	border: 1px solid #bbb;
	border-radius: 4px;
	margin: 0;
	margin-bottom: 9px;
	outline: 0;
	padding: 8px 10px;
	transition: background-color 0.2s, border-color 0.2s;
	width: 100%;
}
#home .page-line input:hover, #home .page-line input:focus {
	background-color: #fff;
	border-color: #555;
	/*border-color: #1bc12f;*/
}
#username:first-letter {
	text-transform: uppercase;
}

/* Panels */
#main > * {
	display: block;
}
#record-list {
	display: flex;
	margin-top: 60px;
    flex-direction: column;
    font-size: 18px;
	box-sizing: border-box;
	background: #f2f8ff;
	border-right: 1px solid #555;
	/*padding-top: 15px;*/
	width: 250px;
	min-width: 250px;
}
#record-search, #record-search input {
	background: #000000;
    color: red;
    font-weight: bold;
}
#record-search, #record-search input::placeholder {
  color: red;
  opacity: 1;
}
#record-search {
	flex: 0 1 auto;
	/*box-sizing: border-box;*/
	text-align: center;
	line-height: 58px;
	height: 58px;
	overflow: hidden;
	border-style: inset;
	border-color: #e80215;
}
#record-search input {
	box-sizing: border-box;
	font-size: 18px;
	border: none;
	padding: 0 10px;
	width: 100%;
	height: 100%;
}
#record-search input:focus {
	outline: none;
}

#recordList-count {
	float: left;
	background: #143569;
    color: #FFF;
    text-align: center;
    height: 38px;   
    width: 1.6%;
    font-size: 25px;
    font-weight: bold;
    margin-left: 16%;
    border: 2px #FFF;
    margin-top: 12px;
    border-radius: 30px;
}

#record-count input {
	box-sizing: border-box;
	font-size: 30px;
	text-align: center;
	border: none;
	padding: 0 10px;
	width: 100%;
	height: 100%;
}

/*#record-search input::placeholder, #record-search input::-webkit-input-placeholder, #record-search input::-ms-input-placeholder {
	font-style: italic;
}*/

#record-list ul {
	flex: 1;
	display: block;
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
	overflow-y: auto;
}
#record-list ul li {
	position: relative;
	/*font-size: 16px;*/
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	color: #ffffff;
	background: #000000;
	border-bottom: 1px solid #888;
	/*padding: 0 0 0 30px;*/
	height: 50px;
	cursor: pointer;
	overflow: hidden;

}
#record-list ul li:hover, #record-list ul li.selected {
	background: #143569;
}
#record-list ul li:hover::before, #record-list ul li.selected::before {
	position: absolute;
	background: rgb(232, 2, 21);
	content: "";
	left: 0;
	top: 7px;
	width: 4px;
	height: 36px;
	z-index: 10;
}

#record-list ul li::after {
	position: absolute;
	content: "";
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	top: 7px;
	right: 0px;
	width: 8px;
	height: 36px;
	z-index: 10;
}
#record-list ul li.urgent-red::after {
	background: red;
}
#record-list ul li.urgent-orange::after {
	background: orange;
}

#record-list ul li .user {
	position: absolute;
	box-sizing: border-box;
	/*background: rgba(104, 192, 255, 0.25);*/
	background: rgba(252, 200, 155, 0.5);
	font-size: 14px;
	border: 1px solid rgba(80, 148, 197, 0.5);
	/*border: 1px solid rgba(75, 138, 183, 0.5);*/
	border-left: 0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	top: 0;
	left: 0;
	margin: 11px 0;
	padding: 0 4px;
	text-transform: capitalize;
	width: 40px;
	height: calc(100% - 22px);
	line-height: 25px;
	z-index: 5;
}

#record-list ul li.mess {
	background: #FFA500;
}

#record-list ul li.ordered {
	background: #F1E304;
}

#record-list ul li.done {
	/*background: #d9fdd5;*/
	background: #d8ce88;
}

#record-list ul li.dailyorder {
	/*background: #e6c8fd;*/
	background: #E150B5;
}

#record-list ul li.fgb {
	/*background: #e6c8fd;*/
	background: #CD5C5C;
}

#record-list ul li.morlife {
	/*background: #e6c8fd;*/
	background: #FFA500;
}

#record-list ul li.spwarehouse {
	/*background: #e6c8fd;*/
	background: #FFE4B5;
}

#record-list ul li.orbit {
	/*background: #e6c8fd;*/
	background: #00FF7F;
}

#record-list ul li.wv {
	/*background: #e6c8fd;*/
	background: #00CED1;
}

#record-list ul li.me {
	/*background: #e6c8fd;*/
	background: #24CE81;
}

#record-list ul li.scholastic {
	/*background: #e6c8fd;*/
	background: #4169E1;
}

#record-list ul li.korimco {
	/*background: #e6c8fd;*/
	background: #9370DB;
}

#record-list ul li.hyclor {
	/*background: #e6c8fd;*/
	background: #FFB6C1;
}

#record-list ul li.splosh {
	/*background: #e6c8fd;*/
	background: #4FA6C1;
}

#record-list ul li.sigma {
	/*background: #e6c8fd;*/
	background: #9FB611;
}

#record-list ul li.misc {
	/*background: #e6c8fd;*/
	background: #2FF6C1;
}

#record-list ul li.factory {
	/*background: #e6c8fd;*/
	background: #9F46F1;
}

#record-list ul li.intertrading {
	/*background: #e6c8fd;*/
	background: #BFFCC1;
}

/*#record-list ul li.sixpack {	
	background: #8e5b5e;
}

#record-list ul li.tenpack {	
	background: #C8FE2E;
}

#record-list ul li.twentypack {	
	background: #FF1493;
}

#record-list ul li.thirtypack {	
	background: #FE642E;
}

#record-list ul li.sixtypack {	
	background: #045FB4;
}

#record-list ul li.gucci {	
	background: #DC143C;
}*/

#record-list ul li.kob {
	/*background: #e6c8fd;*/
	background: #CAB9B5;
}

#record-list ul li.tprolls {
	/*background: #e6c8fd;*/
	background: #F24B4B ;
}


#record-list ul li.outofstock {
	background: #fdd5d5;
}

#record-list ul li.cancelledoos {
	background: #D2691E;
}

#record-list ul li.alternative {
	background: #1DBEE4;
}

#record-list ul li.partialcollect {
	background: #15F318;
}

#record-list ul li.warehousecollect {
	background: #25A318;
}
/* Hide record item */
#record-list ul .hide, #record-list ul li.disabled {
	display: none;
}

#record-container {
	margin-top: 60px;
	display: flex;
	background: #fafbf9;
	flex: 1 1 auto;
	flex-direction: column;
	overflow-x: hidden;
}
#record-main {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}
#record-entries {
	flex: 1 1 auto;
	padding: 15px;
}
#record-entries.done {
	display: flex;
}
#record-main-actions {
	display: none;
	background: #f9f4f0;
	border-top: 1px solid #999;
	padding: 10px 15px;
	min-height: 153px;
	overflow-y: auto;
}
#record-main-actions button {
	margin-bottom: 15px;
}
#record-main-actions .hide {
	display: none;
}
#record-nav-buttons {
	padding-left: 15px;
	padding-right: 15px;
}
#record-nav-buttons .hide {
	display: none;
}
#record-nav-buttons button {
	position: fixed;
}
#record-nav-buttons button:not(.top) {
	bottom: 15px;
}
#record-nav-buttons.notification button:not(.top) {
	bottom: 85px;
}
#record-nav-buttons button.right-left {
	right: 200px;
}
#record-nav-buttons button.right {
	right: 0px;
}
#record-nav-buttons button.right-center {
	right: 100px;
}
#record-nav-buttons button.top {
	/*top: 10px;*/
	top: 0;
	height: 60px;
	font-size: 16px;
	width: 100px;
}

#record-group {
	flex: 0 0 auto;
	background: #143569;
	padding: 8px 15px;
	border-bottom: 1px solid #999;
	cursor: default;
	overflow-x: auto;
	white-space: nowrap;
	user-select: none;
}
#record-group.hide {
	display: none;
}
#record-group span {
	margin-right: 10px;
}

.record-entry {
	padding-bottom: 40px;
}
.record-entry:not(:first-child) {
	padding-top: 40px;
}
.record-entry:not(:last-child) {
	border-bottom: 2px solid #999;
}
.record-entry-done {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
}
.record-entry-done {
    font-size: 28px;
	/*font-weight: 500;*/
}
.record-entry-done .msg + img[src] {
	margin-top: 30px;
}
.record-entry .inline {
	display: inline-block;
}
.record-entry .hide, .record-items .hide {
	display: none;
}

.record-entry > div {
    font-size: 18px;
	font-weight: 500;
	margin-right: 5px;
}
.record-entry > div:not(:last-child) {
	margin-bottom: 15px;
}
/*.record-title.inline {
    width: 100%;
}*/
.record-entry > div > div {
	display: inline-block;
	background: #BDC3C7;
	color: #143569;
	/*background: #dff9da;*/
	padding: 10px 15px;
	border: 2px solid red;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.record-title > div {
	font-size: 0;
}
.record-title > div > div {
	display: inline-block;
	font-size: 18px;
	border-right: 2px solid #555;
	padding-left: 10px;
	padding-right: 10px;
}
.record-title > div > div:first-child {
	padding-left: 0;
}
.record-title > div > div:last-child {
	border-right: 0;
	padding-right: 0;
}
.record-title > div > div > span {
	margin-left: 5px;
}
.record-title > div > div > span, .record-postservice *, .record-express *, .record-international *, .record-combined *, .record-buyer-message *, .record-notes * {
	font-weight: bold;
}

/* Express/International/Postage service */
/*.record-express, .record-international, .record-postservice, .record-postservice span, .record-buyer-message, .record-notes {
	display: none;
}*/

/* Table */
.record-items {
	border-collapse: collapse;
	border-top: 1px solid #555;
	padding-top: 0;
	margin-bottom: 10px;
}
.record-items thead tr {
	background: #143569;

	border-bottom: 1px solid #555;

	color: white;
}
.record-items th {
    font-size: 18px;
	font-weight: bold;
	padding: 0;
	margin: 0;
}
.record-items tr, .record-items td {
    font-size: 18px;
	font-weight: normal;
	padding: 0;
	margin: 0;
}

.record-items th, .record-items td {
	border-right: 1px solid #555;
	padding: 0 8px;
	height: 55px;
}

/*record-items th {
    border-right: 1px solid #4b9eda;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
*/
/*.record-items th.hide {
	width: 0;
}*/
.record-items tbody tr td img {
	max-width: 180px;
	max-height: 180px;
}
.record-items thead tr, .record-items tbody tr {
	border-left: 1px solid #555;
	border-bottom: 1px solid #555;
}
.record-items tbody tr.clickable {
	cursor: pointer;
}
.record-items tfoot td {
	text-align: right;
	border: none;
	padding: 10px 5px 0 0;
	line-height: 30px;
}
.record-items tfoot td.scan-status {
	text-align: left;
}
.record-items tfoot td.scan-status > span {
	/*border: 1px solid #999;*/
	padding: 8px 12px;
	cursor: default;
	user-select: none;
}
.record-items tfoot td.scan-status.hidden > span {
	display: none;
}
/* Message from buyer */
.record-buyer-message, .record-notes {
	border-top: 1px solid #555;
    padding-top: 15px;
	margin-bottom: 30px !important;
	width: 50%;
}
.record-notes span {
	white-space: pre;
	font-size: 43px;
}
.record-actions {
	margin-top: 10px;
}

/*.record-actions .hide {
	display: none;
}*/

.collect {
	/*display: flex;*/
}
.stock {
	display: flex;
	align-items: center;
}

.label, select {
	padding: 0 8px;
	margin-left: 10px;
	height: 40px;
}

.label, select {
	font-size: 18px;
}

/* Popup boxes */
#box-outer {
	/*display: none;*/
	position: fixed;
	background-color: transparent;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	overflow: auto;
	visibility: hidden;
	z-index: 20;
}
#box-outer.flex {
	display: flex;
    justify-content: center;
    align-items: center;
	visibility: visible;
	opacity: 1;
}
#box-outer, #box-container > div:not(.close) {
	transition: opacity 0.2s ease-in-out;
}
#box-container {
	position: relative;
	background-color: #fefefe;
	border: 1px solid #888;
	padding: 15px;
	width: 100%;
	height: auto;
	max-width: 1000px;
	margin: auto;
}
#box-container > div.hide {
	display: none;
}
#record-group{
	font-size: 20px;
	color: white;
	font-weight: bold;
}

#box-container .title, #box-container .line, #box-container .line input, #barcode-status, #order-cancel-items label,  #barcode-box .indiv-quantity, #barcode-box .indiv-quantity input{
	font-size: 20px;
	color: black;
	font-weight: bold;
}
#box-container .title {
	font-weight: bold;
	margin-bottom: 20px;
}
#box-container label {
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
}
#box-container textarea {
	display: block;
	font-size: 16px;
	width: calc(100% - 8px);
	height: 150px;
}
/* General 'other' textbox */
#box-container > div .other input, #box-container > div .ivother input {
	margin-left: 10px;
	text-align: center;
	line-height: 32px;
	height: 32px;
}

.form-control {
	height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 16px;
    font-weight: 200;
    line-height: 1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-inline label {
	align-items: center;
    justify-content: center;
    margin-bottom: 0;
    /*font-size: 16px;*/
    /*padding: 10px 5px;*/
}


/* Barcode scan box */
#barcode-itemname, #barcode-itemnum, #barcode-itemsku, label[for="barcode-variations"], label[for="order-cancel-reason"], label[for="item-report-reason"] {
	font-weight: bold;
}
label[for="barcode-variations"], label[for="order-cancel-reason"] {
	display: block;
}
#barcode-variations, #order-cancel-reason, #item-report-reason {
	font-size: 19px;
    padding: 5px;
}
#barcode-itemname span, #barcode-itemnum span, #barcode-itemsku span, #barcode-variations, #order-cancel-reason, #item-report-reason {
	margin-left: 5px;
}
#barcode-itemname span, #barcode-itemnum span , #barcode-itemsku span{
	font-weight: normal;
}
#barcode-input, #indiv-barcode-input {
	display: flex;
}
#barcode-input input, #indiv-barcode-input input {
	flex: 1;
	padding: 10px;
}

#barcode-quantity, #indiv-quantity {
	border: none;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
}
#barcode-quantity > div, #indiv-quantity > div {
	width: 100%;
}
#barcode-quantity > div:first-child, #indiv-quantity > div:first-child  {
	margin-bottom: 10px;
}
#barcode-quantity span, #indiv-quantity span {
	display: inline-block;
	margin-right: 10px;
}

#record-group label, #barcode-quantity span, #barcode-quantity label, , #indiv-quantity span, #indiv-quantity label {
	background: #fff;
	line-height: 40px;
	height: 40px;
}
#record-group label:not(:last-child) {
	margin-right: 5px;
}
#record-group input, #barcode-quantity input, #indiv-quantity input {
	font-weight: normal;
}
#record-group input[type="radio"], #barcode-quantity input[type="radio"], #indiv-quantity input[type="radio"] {
	display: none;
}
#record-group input[type="radio"] + label, #barcode-quantity input[type="radio"] + label,  #indiv-quantity input[type="radio"] + label {
	display: inline-block;
	font-weight: normal;
	text-align: center;
	border: 2px solid white;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

#record-group input[type="radio"]:checked + label, #barcode-quantity input[type="radio"]:checked + label,
#record-group input[type="radio"]:checked + label, #indiv-quantity input[type="radio"]:checked + label,
#record-group input[type="radio"] + label:hover, #barcode-quantity input[type="radio"] + label:hover,
#record-group input[type="radio"] + label:hover, #indiv-quantity input[type="radio"] + label:hover  {
	background: white;
	color: black;
	border: 5px solid red;
	font-weight: bold;
}
#record-group input[type="radio"] + label:last-of-type, #barcode-quantity input[type="radio"] + label:last-of-type,
#record-group input[type="radio"] + label:last-of-type, #indiv-quantity input[type="radio"] + label:last-of-type {
	margin-right: 20px;
}
#barcode-quantity .other input, #indiv-quantity .ivother input {
	width: 60px;
}

#barcode-status, #barcode-save, .box-actions, #item-report-actions {
    text-align: center;
}


/* Order cancellation box */
#order-cancel-items {
	border: 1px solid #6a8494;
	margin: 0;
	padding: 0;
}
#order-cancel-items input {
	position: absolute;
	left: -9999px;
}
#order-cancel-items label {
	display: block;
	position: relative;
	border-top: 1px solid #6a8494;
	/*padding: 5px 10px 5px 38px;*/
	padding: 5px 10px 5px 10px;
	cursor: pointer;
	user-select: none;
	transition: background-color .2s, box-shadow .2s;
}
/*#order-cancel-items, #order-cancel-items label {
	border-radius: 5px;
}*/
/*#order-cancel-items label::before {
	position: absolute;
	box-sizing: border-box;
	content: '';
	top: 50%;
	transform: translateY(-50%);
	left: 10px;
	border: 2px solid #3ebd2f;
	border-radius: 16px;
	width: 18px;
	height: 18px;
	transition: background-color .2s;
}*/
#order-cancel-items label:first-of-type {
	border-top: none;
}
#order-cancel-items label:not(:first-of-type) {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
#order-cancel-items label:not(:last-of-type) {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
#order-cancel-items input:checked + label {
	background-color: #d9fdd5;
}
/*#order-cancel-items input:checked + label::before {
	background-color: #3ebd2f;
}*/
#order-cancel-notes {
	font-size: 18px;
	width: 100%;
	height: 80px;
}

/* Report box */
.box-choice {
	border: none;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
}
.box-choice > div {
	width: 100%;
}
.box-choice > div:first-child {
	margin-bottom: 10px;
}
.box-choice > div .heading {
	margin-right: 10px;
}
.box-choice span {
	display: inline-block;
	margin-right: 10px;
}

.box-choice > div .heading, .box-choice span, .box-choice label {
	line-height: 40px;
	height: 40px;
}
.box-choice span, .box-choice label {
	padding: 0 10px;
	margin-bottom: 10px;
	user-select: none;
}
.box-choice input {
	font-weight: normal;
}
.box-choice input[type="radio"], .box-choice input[type="checkbox"] {
	display: none;
}
.box-choice input[type="radio"] + label, .box-choice input[type="checkbox"] + label {
	display: inline-block;
	font-weight: normal;
	text-align: center;
	border: 1px solid #888;
	/*width: 40px;*/
	cursor: pointer;
}

.box-choice input[type="radio"]:checked + label, .box-choice input[type="checkbox"]:checked + label {
	background:#8ce880;
}
.box-choice input[type="radio"] + label:last-of-type, .box-choice input[type="checkbox"] + label:last-of-type {
	margin-right: 20px;
}
/*#item-report-box div .other input {
	width: 300px;
}*/
.box-choice, #item-report-other {
	font-size: 18px;
}
#item-report-other {
	display: none;
	width: calc(100% - 5px);
	height: 80px;
}


/* Clear confirmation box */
#clear-confirm-box {
	display: none; /*flex*/
	flex-direction: column;
	position: relative;
	background-color: #fefefe;
	text-align: center;
	border: 1px solid #888;
	padding: 15px;
	margin: 15% auto;
	max-width: 90%;
	width: 250px;
	height: auto;
}
#clear-confirm-box .title {
	font-size: 16px;
	height: 40px;
}
#clear-confirm-btns {
	flex: 0 0 auto;
	margin-top: 20px;
	height: 40px;
}


/* Main button */
.action-btn {
	font-size: 20px;
	line-height: 23px;
	padding: 8px 12px;
}
.action-btn.big {
	font-size: 22px;
	line-height: 25px;
}
.action-btn.big:not(:last-child) {
	margin-right: 15px;
}

/* Close button */
.close {
	top: 10px;
	right: 10px;
	width: 25px;
	height: 25px;
}


/* Animations */
.flash {
	animation: flash linear 0.8s infinite forwards;
}
@keyframes flash {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.05;
	}
	100% {
		opacity: 1;
	}
}


/* General */
.absolute {
	position: absolute !important;
}
.centre {
	text-align: center;
}
.flex {
	display: flex !important;
}
.gap {
	margin-bottom: 30px;
}
.gap10 {
	display: inline-block;
	width: 10px;
}
.nomargin {
	margin: 0 !important;
}
.nomargin-bottom {
	margin-bottom: 0 !important;
}
.padded {
	margin-bottom: 35px !important;
}
.padded-s {
	margin-bottom: 15px !important;
}
.padding-btn button {
	margin-bottom: 25px;
}
.padding-btn.pad-more button {
	margin-bottom: 50px;
}
.padding-btn.pad-less button {
	margin-bottom: 15px;
}
.underlined {
	text-decoration: underline;
}

tr > #baySat > #bay, #sat, #fwfp{
	width: 120px;
	font-size: 40px;
	margin:  20px 0px 0px;
	display: block;
}


.action-label {
	margin-bottom: 15px;
	margin-right: 10px;
	font-size: 20px;
    line-height: 23px;
    padding: 8px 12px;
}

#markcostco {
	margin-bottom: 10px;
}

tbody > tr > .button > button{
	display: block;
	width: 138px;
	margin-top: 10px;
}

#set-bay, #set-sat, #set-fwfp {
	display: block;
	width: 120px;
	display: block;
	margin:  20px 0px 0px;
}

tr > #baySat > #bay{
	margin-top: 10px;
}

#set-sat {
	margin-bottom: 10px;
}

select > option[disabled] {
	display: none;
}

.hide {
	display: none;
}

#user-login {
	float: right;
	display: block;
}

.collect .right, .ordered .right, .partialcollect .right, .warehousecollect .right {
	float: right;
}

/*.collect .right {
	float: right;
}

.ordered .right {
	float: right;
}*/

#item-add-box .left {
	float: left;
}

#item-add-box .right {
	float: right;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    font-size: 16px;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    font-size: 16px;
}

.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
    font-size: 16px;
}
.table thead th {
	background-color: #2196f3;
	color: black;
	/*background: #82c2fa; /*light blue*/
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-size: 15px;
}
th {
    text-align: inherit;
}
*, ::after, ::before {
    box-sizing: border-box;
}

th {
    display: table-cell;
    /*vertical-align: inherit;*/
    font-weight: bold;
    /*text-align: -internal-center;*/
}

#box-outer #update-inventory-box .left {
	float: left;
}

#box-outer #update-inventory-box .right {
	float: right;
}

#item-feedback {
	background-color: #8ce880;
}

#content-order-searchbar input{
	font-size: 20px;
	background-color: #fafbf9;
	text-align: left;
	border: 1px solid #bbb;
	border-radius: 4px;
	margin: 10px 10px;
	margin-bottom: 10px;
	outline: 0;
	padding: 8px 18px;
	transition: background-color 0.2s, border-color 0.2s;
	width: 500px;
}

#content-orders-searchfield {
	font-size: 20px;
	padding: 0px 10px;
}

#content-orders-searchfield input {
	margin-left: 20px;
}
#content-order-search {
	/*background-color: #6d7fcf;*/
}
#item-table th{
    padding: 8px;
    border: 1px solid black;
    background-color: #6CE399;
    /* background-color: #6CE399;  green */
    vertical-align: middle;
    color: black;
}
#item-table td {
    padding: 4px;
    border: 1px solid gray;
    vertical-align: middle;
}
#item-table tr:nth-child(even) {
    background-color: #fff;
}
#item-table tr:nth-child(odd) {
    background-color: #dbdbdb;
}

#location-select-table th {
    /*padding: 8px;*/
    border: 1px solid black;
    background-color: #6CE399; /* green */
    vertical-align: middle;
    text-align: center;
    color: black;
}

#location-select-table td {
    padding: 4px;
    border: 1px solid gray;
    vertical-align: middle;
    text-align: center;
}

#back-to-menu2 {
	cursor: pointer;
}
#hidden{
	display: none;
}
#padding1{
	padding-right: 1px;
	padding-left: 1px;
}